{% extends "layouts/default.html" %}

{% block title %}News{% endblock title%}

{% block content %}
    <div class="col">
        <form method="GET">
            {{ search_form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>

    {% for article in articles%}
        <div class="col">
            <h2>{{ article.title }}</h2>
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="Article preview image">
            {% endif %}
            <p>{{ article.pub_date }}</p>
            <p><a href="{{ article.get_absolute_url }}">More</a></p>
            <hr>
        </div>
    {% empty %}
        No news
    {% endfor %}
{% endblock content %}
