{% extends "layouts/default.html" %}

{% block title %}News{% endblock title%}

{% block content %}

    <!-- Search bar -->
    <form method="GET" class="form-inline">
        {{ search_form.non_field_errors }}
        {% include 'inputs/mul_select_dropdown.html' with field=search_form.genres dropdown_id='genre_dropdown' %}
        {% include 'inputs/mul_select_dropdown.html' with field=search_form.studios dropdown_id='studio_dropdown' %}
        {% include 'inputs/mul_select_dropdown.html' with field=search_form.platforms dropdown_id='platform_dropdown' %}
        {% include 'inputs/search_bar.html' with field=search_form.search %}
        {% include 'inputs/search_bar_btn.html' %}
    </form>
    <!-- Search bar end -->

    <!-- Articles  -->
    {% for article in articles%}
        <div class="col">
            <h2>{{ article.title }}</h2>
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="Article preview image">
            {% endif %}
            <p>{{ article.pub_date }}</p>
            <p><a href="{{ article.get_absolute_url }}">More</a></p>
            <hr>
        </div>
    {% empty %}
        No news
    {% endfor %}
    <!-- Articles end -->

{% endblock content %}
