{% extends "news/base.html" %}

{% block title %}
    Games
{% endblock title%}

{% block content %}

    <form method="GET">
        {{ search_form.as_p }}
        <input type="submit" value="Submit">
    </form>

    {% for g in games %}
        <h2>{{ g.name }}</h2>
        <img src="{{ g.poster.url }}">
        <p>{{ g.release_date }}</p>
        <p>Dev Studio: {{ g.studio }}</p>
        {% for genre in g.genres.all %}
            <p>{{ genre.name }}</p>
        {% endfor %}
        <p>{{ g.description }}</p>
        {% for plat in g.platforms.all %}
            <p>{{ plat.name }}</p>
        {% endfor %}
        <p><a href="{% url 'games:game_detail' g.name %}">More</a></p>
        <hr>
    {% empty %}
        No games matched
    {% endfor %}
{% endblock content %}
