{% extends "layouts/default.html" %}

{% block title %}
    Games
{% endblock title%}

{% block content %}

    <!-- Search bar -->
    <div class="row justify-content-end">
        <div class="col col-xl-9">
            <form method="GET" class="form-inline">
                {{ search_form.non_field_errors }}
                {% include 'inputs/select_dropdown.html' with field=search_form.genres dropdown_id='genre_dropdown' %}
                {% include 'inputs/select_dropdown.html' with field=search_form.studios dropdown_id='studio_dropdown' %}
                {% include 'inputs/select_dropdown.html' with field=search_form.platforms dropdown_id='platform_dropdown' %}
                {% include 'inputs/select_dropdown.html' with field=search_form.from_date dropdown_id='from_dropdown' %}
                {% include 'inputs/select_dropdown.html' with field=search_form.until_date dropdown_id='until_dropdown' %}
                {% include 'inputs/search_bar.html' with field=search_form.search %}
                {% include 'inputs/search_bar_btn.html' %}
            </form>
        </div>
    </div>
    <!-- Search bar end -->

    <!-- Games -->
    <div class="row">
        {% for game in games %}
        <div class="col-6">
            <div class="game-list-obj">
                <div class="card my-2 block-link">
                    <div class="row no-gutters">
                        <a href="{{ game.get_absolute_url }}" class="col-4">
                            <img src="{{ game.poster.url }}" alt="{{ game.name }} poster" class="card-img">
                        </a>
                        <div class="col">
                            <a href="{{ game.get_absolute_url }}" class="d-block card-header">
                                <h2 class="card-title m-0">{{ game.name }}</h2>
                            </a>
                            <div class="card-body">
                                <p class="card-text">
                                    <span class="text-muted">Release date: </span>{{ game.release_date }}
                                </p>
                                <p class="card-text">
                                    <span class="text-muted">Platforms: </span>
                                    {% for plat in game.platforms.all %}
                                        <a href="{{ plat.get_absolute_url }}" class="px-1 mb-1 d-inline-block border border-dark rounded">{{ plat.name }}</a>
                                    {% empty %}
                                        <span>Not specified</span>
                                    {% endfor %}
                                </p>
                                <p class="card-text">
                                    <span class="text-muted">Genres: </span>
                                    {% for genre in game.genres.all %}
                                        <a href="{{ genre.get_absolute_url }}" class="px-1 mb-1 d-inline-block border border-dark rounded">{{ genre.name }}</a>
                                    {% empty %}
                                        <span>Not specified</span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            No games matched
        {% endfor %}
    </div>
    <!-- Games end -->

{% endblock content %}
