{% extends "layouts/default.html" %}

{% block title %}
    Platforms
{% endblock title%}

{% block content %}
    <div class="row">
        <form method="GET" class="form-inline">
            <div class="form-group">
                {{ search_bar }}
            </div>
            <input type="submit" class="btn m-2" value="Submit">
        </form>
    </div>
    {% for plat in platforms %}
        <div class="row list-platform my-3">
            <a href="{{ plat.get_absolute_url }}" class="col">
                <div class="container-fluid">
                    <div class="row py-3">
                        <div class="d-none col-md-3 d-md-block">
                            <img src="{{ plat.photo.url }}" alt="Platform photo" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <h2>{{ plat.name }}</h2>
                            <p>{{ plat.description|truncatechars:300 }}</p>
                        </div>
                    </div>
                </div>

            </a>
        </div>
    {% empty %}
        No platforms matched
{% endfor %}
{% endblock content %}
