{% extends "layouts/default.html" %}

{% block title %}
    {{ user.nickname|title }} - Profile
{% endblock title%}

{% block content %}
    <p>Nickname: {{ user.nickname }}</p>
    <p>Avatar: {{ user.avatar }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Date joined: {{ user.date_joined }}</p>

    <p>Change:</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <input type="submit" value="Change info">
    </form>
{% endblock content %}
